video/*
savepoints/*
wandb/*
data/*
ori_imgs/*

__pycache__
.ipynb_checkpoints
*.mp4
*.png
!structure.png
*.jpg
*.pth
*.pt
*.wav
*.npy
*.pkl
*.ipynb
*.csv
*.mat
*.obj
*.avi
*.model
*.dat
*.bin
do_train2.sh